/Elco.Core/bin
/Elco.Core/obj
/Elco.Web.WWW/bin
/Elco.Web.WWW/obj
/Elco.Web.WWW/Upload
/Elco.Web.WWW/log
/Elco.Web.EN/bin
/Elco.Web.EN/obj
/Elco.Web.EN/Upload
/Elco.Web.EN/log
/Elco.Web.DE/bin
/Elco.Web.DE/obj
/Elco.Web.DE/Upload
/Elco.Web.DE/log
/html
/Elco.suo
/Elco.sln.DotSettings.user
/Elco.Web.EN/Elco.Web.EN.csproj.DotSettings.user