@{
    ViewBag.Title = "Modify the administrator password";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>Change password</legend>
    @if (ViewBag.Status != null)
    {
        if(ViewBag.Status == "OK"){
            <text><div class="success">Successful modification!/div></text>
        }
    }
    @Html.ValidationSummary()
    <form method="post">
        <table>
            <tr>
                <th align="right">Original password：</th>
                <td>@Html.Password("txtOldPassword")</td>
            </tr>
            <tr>
                <th align="right">New password：</th>
                <td>@Html.Password("txtNewPassword")</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change" /></td>
            </tr>
        </table>
    </form>
</fieldset>

