@{
    ViewBag.Title = "Complaint and suggestion";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>Complaint and suggestion</legend>
        @foreach (var item in ViewBag.List)
        { 
           <table width="100%">
            <tr>
                <th width="8%" align="right">
                    Title：
                </th>
                <td align="left">@item.Title
                </td>
            </tr>
            <tr>
                <th align="right">
                    Content：
                </th>
                <td align="left">@item.Content
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                    Contact：@(item.Contact),Address：@(item.Address),mailbox：@(item.Email),Telephone：@(item.Phone),Fax：@(item.Fax),time of publication：@(item.CreateDateTime.ToString("yyyy-MM-dd"))
                </td>
            </tr>
        </table>
        <hr />
        }
    @Html.Raw(Elco.Common.PagerBarHelper.Render(ViewBag.List.PageIndex, ViewBag.List.PageSize, ViewBag.List.TotalItemCount, new { @class = "pagerbar" },1))
</fieldset>

