@{
    string obj = Controleng.Common.CECRequest.GetQueryString("obj");
    var postUrl = "/Pagesadmin/Home/UploadImage?obj=" + obj;
}
<!DOCTYPE html>
<html>
<head>
    <title>UploadImage</title>
    <script type="text/javascript">
        function insert(url) {
            window.opener._GLOBAL.insertImageToEditor('@(obj)', url);
            window.close();
        }
    </script>
</head>
<body>
    @if (ViewBag.Msg != null)
    {
        switch ((string)ViewBag.Msg)
        {
            case "success":
        <text><input type="button" onclick="insert('@ViewBag.ImageUrl');" value="Success" /></text>
                                               break;
            default:
        <text>Error,<a href="@(postUrl)">please retry！</a></text>
                         break;
        }
    }
    else
    {
        <form action="@(postUrl)" method="post" enctype="multipart/form-data">
        <input type="file" id="img0" name="img0" /><input type="submit" value="Upload" />
        </form>
    }
</body>
</html>