@{
    Layout = "../Shared/_ProductLayout.cshtml";
    ViewBag.Title = "Produkte Center";

    //获得产品一级分类
    var firstCat = Elco.Services.CategoryService.ListByParentId(Elco.Config.GeneralConfig.ProductRootId_DE).Where(p => p.IsDeleted == false); 
}
<ul class="channel_prodList">
    @foreach (var first in firstCat)
    {
        <text>
            <li><a href="/produke/list-@(first.Id).html"><img src="@(first.ImageUrl)" alt="@(first.Name)" width="130" height="100" /></a>
            <h1><a href="/produke/list-@(first.Id).html">@(first.Name)</a></h1>
            <div>@Html.Raw(first.Introduction)</div>
            </li>
        </text>
    }
</ul>