@{
    ViewBag.Title = "产品分类";
    Layout = "../Shared/_Layout.cshtml";
}
<fieldset>
    <legend>产品类别列表</legend>
    <table width="100%">
        <tr>
            <td align="right"><a href="catcreate" class="btn-add">添加产品分类</a></td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td id="catTree" colspan="2">@Html.Raw(ViewBag.CatHtml)</td>
        </tr>
    </table>
</fieldset>
@section footer{
    <script type="text/javascript">
        function operate(id, action) {
            if (window.confirm('确认操作？')) {
                window.location.href = '../category/operate?id=' + id + '&action=' + action;
            }
        }
        $(function () {
            $("#treeview").treeview({
                collapsed: false,
                animated: "medium",
                control: "#sidetreecontrol",
                persist: "location"
            });
        })
    </script>
}


